{% for i in sponsorimage_list %}
  {% if forloop.first %}
    <ul>
  {% endif %}

  <li>
      <a href="{% url 'dj_sponsoring:sponsor-image-detail' i.id %}">{{ i }}</a>
      <p>{{ i.description }}</p>
      {% if i.img %}
        <img src="{{ i.img.url }}" alt="{{ i.alt }}">
      {% endif %}
    </a>
  </li>

  {% if forloop.last %}
    </ul>
  {% endif %}
{% empty %}
  <p>No images for this sponsor...</p>
  <p>You can create one <a href="{% url 'dj_sponsoring:sponsor-image-create' sponsor.id %}">here</a></p>
{% endfor %}
