{% extends "dj_sponsoring/base.html" %}
{% load bootstrap4 %}

{% block content %}
  {% for i in images %}
    {% ifchanged i.sponsor %}
      {% if not forloop.first %}
        </div>
      {% endif %}
      <div class="list-group">  
    {% endifchanged %}

    <a href="{% url 'dj-sponsoring:sponsor-detail-image' i.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex row">
        <img class="col-md-2" class="mr-2" src="{{ i.img.url }}" alt="{{ i.alt }}">
        <div class="col-md-10 align-self-center">
          <h5 class="mb-1">{{ i }}</h5>
          <p class="mb-1">{{ i.description }}</p>
        </div>
      </div>
    </a>

    {% if forloop.last %}
      </div>
    {% endif %}
  {% empty %}
  <p>No sponsors images...</p>
  <p>You can create one <a href="{% url 'dj-sponsoring:sponsor-image-create' sponsor.id %}">here</a></p>
  {% endfor %}
{% endblock %}