{% extends "base.html" %}
{% load bootstrap4 %}
{% load icons %}
{% load sponsoring %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dj_sponsoring:sponsors-list' %}">Sponsors list</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dj_sponsoring:sponsor-detail' sponsor.id %}">{{ sponsor }}</a></li>
      <li class="breadcrumb-item active">Files list</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {{ sponsor }}'s files
{% endblock %}

{% block page_title_buttons %}
  <div class="btn-group float-right" role="group">
    <a href="{% url 'dj-sponsoring:sponsor-file-create' sponsor.id %}" class="btn btn-primary btn-sm">Add file</a>
  </div>
{% endblock %}

{% block content %}
  {% for file in sponsorfile_list %}
    {% if forloop.first %}
      <ul class="list-group">
    {% endif %}

    <li class="list-group-item">
      <div class="btn-group float-right" role="group">
        <a href="{% url 'dj-sponsoring:sponsor-file-update' file.id %}" class="btn btn-primary btn-sm">Update file</a>
        <a href="{% url 'dj-sponsoring:sponsor-file-delete' file.id %}" class="btn btn-danger btn-sm">Delete file</a>
      </div>
      <i class="fas fa-{{ file.file|get_icon_extension }}"></i>
      {{ file.name }} ({{ file.file|filename }})<br/>
      {{ file.description }}
    </li>

    {% if forloop.last %}
      </div>
    {% endif %}
  {% empty %}
    <p>No files linked to this sponsor...</p>
    <p>You can create one <a href="{% url 'dj-sponsoring:sponsor-file-create' sponsor.id %}">here</a></p>
  {% endfor %}
{% endblock %}