{% extends "dj_sponsoring/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="btn-group float-right" role="group">
    <a href="{% url 'dj-sponsoring:sponsor-image-create' sponsor.id %}" class="btn btn-primary btn-sm">Add image</a>
  </div>

  <h1>{{ sponsor.name }}'s images</h1>

  {% for image in images %}
    {% ifchanged image.sponsor %}
      {% if not forloop.first %}
        </div>
      {% endif %}

      <h2 class=" mt-4">{{ image.sponsor }}</h2>
      <div class="list-group">
    {% endifchanged %}

    <a href="{% url 'dj-sponsoring:sponsor-image-detail' image.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex row">
        <img class="col-md-2" class="mr-2" src="{{ image.img.url }}" alt="{{ i.alt }}">
        <div class="col-md-10 align-self-center">
          <h5 class="mb-1">{{ image.alt }}</h5>
          <p class="mb-1">{{ image.description }}</p>
        </div>
      </div>
    </a>

    {% if forloop.last %}
      </div>
    {% endif %}
  {% empty %}
  <p>No images linked to this sponsor...</p>
  <p>You can create one <a href="{% url 'dj-sponsoring:sponsor-image-create' sponsor.id %}">here</a></p>
  {% endfor %}
{% endblock %}